.container-paymentSection {
    @apply w-full h-full flex flex-col items-center my-3 bg-mainBg
    sm:flex-row;
}

.cart-empty {
    @apply w-full h-full flex justify-center items-center
    sm:w-1/2 ; 
}

.title-cart-empty {
    @apply text-3xl text-gray-500 font-general;
}

.section-products-quote {
    @apply w-full h-full flex flex-col justify-center items-center
    sm:w-1/2;
}

.title-products-quote {
    @apply text-3xl text-gray-950 font-general;
}

.container-products-quote {
    @apply w-11/12 h-[23rem] flex flex-col items-center bg-gray-300 rounded-lg py-6 overflow-y-auto;
}

.card-product-quote {
    @apply w-11/12 h-24 flex flex-row items-center bg-white rounded-lg shadow-lg my-2 relative;
}

.icon-delete-product-quote {
    @apply w-3 h-3 absolute top-2 right-2 hover:scale-110 cursor-pointer text-black
    sm:w-5 sm:h-5;
}

.section-img-product-quote {
    @apply w-1/5 h-full rounded-l-lg flex justify-center items-center;
}

.image-product-quote {
    @apply w-2/3 h-auto;
}   

.container-info-product-quote {
    @apply w-4/5 h-full flex flex-col-reverse justify-center rounded-r-lg gap-1
    sm:justify-around sm:gap-0 sm:flex-col;
}

.title-info-product-quote {
    @apply text-sm text-gray-950 font-general font-semibold text-center p-1
    sm:text-base;
}

.quantity-info-product-quote {
    @apply text-xs text-gray-950 font-general text-center font-medium
    sm:text-base;
}

.details-info-product-quote {
    @apply text-xs text-primary font-general text-center cursor-pointer hover:underline
    sm:text-base;
}


