.container-paymentSection {
    @apply w-full h-full flex flex-col items-center my-3 bg-mainBg
    sm:flex-row;
}

.list-products-cart {
    @apply w-full h-80 flex flex-col items-center py-6 px-6 gap-7
    overflow-y-scroll
    sm:h-[30rem] sm:w-1/2 sm:overflow-x-hidden;
}

.container-product-cart {
    @apply w-80 h-44 bg-gray-300 border-solid border-gray-800 border-2 rounded-2xl relative
    flex flex-row flex-shrink-0
    sm:w-[36rem];
}

.button-delete {
    @apply w-10 h-10 absolute rounded-full top-1 right-1 hover:bg-gray-500 cursor-pointer p-2;
}

.img-section-cart {
    @apply w-1/3 h-full justify-center items-center bg-white rounded-l-2xl hidden
    sm:flex;
}

.info-section-cart {
    @apply w-full h-full flex flex-col items-center justify-between
    sm:w-2/3;
}

.details-info-cart {
    @apply w-full h-auto flex flex-col items-center font-general px-4;
}

.none-visible-products {
    @apply w-full h-full flex justify-center items-center
    sm:w-1/2 ; 
}

.title-none-visible-products {
    @apply text-3xl text-gray-500 font-general;
}


